body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #ffffff;
}

/* HEADER */
.header {
  text-align: center;
  padding: 0;
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  top: 20px;
  height: 40px;
}

.header-title {
  font-size: 45px;
  font-weight: 600;
  color: #0f3b97;
}

/* MAIN BOX */
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content-box {
  width: 75%;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  background-image: url("../Bg2.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.2);
}

/* LEFT PANEL */
.left {
  width: 50%;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 50px;
}

.left-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.left-text {
  font-size: 18px;
  margin: 20px 0 30px;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}

.input {
  width: 100%;
  padding: 14px;
  background: #eaecef;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  height: 48px;
  box-sizing: border-box;
}

/* RIGHT PANEL */
.right {
  width: 50%;
  background: white;
  color: black;
  border-radius: 15px;
  padding: 20px 40px;
}

.login-text {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}



.steps li {
  font-size: 17px;
  margin-bottom: 12px;
  line-height: 1.4;
}

/* Button (same as base login-btn style) */
.login-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #153b9b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
}


/* OTP BOX — hidden initially */
.otp-box {
  display: none;
  margin-top: 30px;
}
