body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #ffffff;
}

/* HEADER */
.header {
  text-align: center;
  padding: 0px 0;
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  top: 20px;
  height: 40px;
}

.header-title {
  font-size: 45px;
  font-weight: 600;
  color: #0f3b97;
}

/* MAIN BOX */
.wrapper {
  display: flex;
  justify-content: center;
}

.content-box {
  width: 75%;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  background-image: url("../Bg2.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.2);
  
}

/* LEFT PANEL */
.left {
  width: 50%;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 50px;
}

.left-title {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
}

.left-text {
  font-size: 18px;
  text-align: center;
  margin: 25px 0 40px;
  line-height: 1.5;
}

/* Open Now button */
.open-btn {
  display: block;
  width: 140px;
  margin: auto;
  padding: 12px 0;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  transition: 0.25s;
}

.open-btn:hover {
  scale: 1.05;
}
/* .left {
  width: 50%;
  padding: 60px 50px;
  border-radius: 20px;
}

.left-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.left-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.open-btn {
  padding: 12px 40px;
  border: 2px solid white;
  color: white;
  border-radius: 35px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.open-btn:hover {
  transform: scale(1.05);
} */

/* RIGHT PANEL */
.right {
  width: 50%;
  background: white;
  border-radius: 15px;
  padding: 0px 40px;
  color: black;
  margin-left: 0px;
}

.login-text {
  text-align: center;
  font-size: 32px;
  color: #0f3b97;
  margin: 10px;
  font-weight: 600;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.input {
  width: 100%;
  padding: 14px;
  background: #eaecef;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  box-sizing: border-box;
  height: 48px;
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: right 15px center;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: #153b9b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
}

/* TERMS + FORGOT */
.options {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #1063de;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  text-align: center;
  color: #777;
  padding-top: 0px;
  font-size: 14px;
}

.footer-link {
  color: #1464ff;
  text-decoration: underline;
}

@media (max-width: 980px) {

  .header-title {
    font-size: 30px;
    padding-top: 20px;
  }

  .logo {
    left: 20px;
    top: 15px;
    height: 32px;
  }

  .content-box {
    flex-direction: column;   /* STACK LEFT & RIGHT */
    width: 95%;
    align-items: center;
  }

  .left,
  .right {
    width: 90%;
    margin: 0;
  }

  .left {
    margin-bottom: 20px;
  }

  .right {
    padding: 40px;
  }

  .left-title,
  .login-text {
    font-size: 24px;
  }

  .left-text {
    font-size: 16px;
  }

  .steps li {
    font-size: 15px;
  }

  .login-btn {
    font-size: 16px;
    padding: 12px;
  }
}